# testing/prod
OUTHIS_ENV=testing

# HIS config - nginx/conf.d/his.conf, docker-compose.yml
DOMAIN_NAME=mspbs.gov.py
HIS_SUB_DOMAIN=changeme
PGE_SUB_DOMAIN=pgexporter

###########################
# Comment out one of the following two lines if you need only one of them
INT_WAR_NAME=internacion
OUT_WAR_NAME=ambulatoria
HAPI_WAR_NAME=hispy-hapify
###########################
CERT_NAME=mspbs.crt
KEY_NAME=mspbs.key
HISAG_DOMAIN=changeme
HISAG_IP=changeme

# Postgres config, migratedb.sh, docker-compose.yml
PG_DOCKER_IMG=postgres:12.12-alpine
PG_DRIVER_CLASS=org.postgresql.Driver
PG_DRIVER=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=changeme
DB_PW=changeme
DB_NAME_HIS=his
DB_NAME_POLICIA=policia

# SQL Config
HOSP_ID=changeme
HOSP_NAME=changeme
HIS_ADMIN_NAME=changeme
HIS_ADMIN_PASS=changeme

TOMCAT_MANAGER_USER=changeme
TOMCAT_MANAGER_PASS=changeme
